# Dependencies
node_modules
backup
backup2
fltinfo


# Build output
dist
.next/
out/

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & IDE files
.DS_Store
.vscode/
.idea/

# Vercel
.vercel